@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300;1,400&display=swap');
body {
    font-family: 'Lato', sans-serif;
    margin:auto;
    font-weight:400;
    	color:#303030;
	background:#efefef
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:300;
}
button,
select {
    font-weight:400;
}
input {
    background:#eee;
    color:black;
    border-radius:4px;
    border:1px solid #aaa;
    padding:.25em;
}
.content {
    width:80%;
    margin:auto;
}
.darkmode {
    background:#1b1c1e;
    color:white;
    & input {
        background:#eee;
        color:black;
        border-radius:4px;
        border:1px solid #aaa;
        padding:.25em;
    }
    &
    a,
    i {
        color:white;
    }
    & 
    h1,
    h2,
    h3,
    h4,
    h5 {
        color:white;
    }
    & p {
        color: white;
    }
    & label {
        color:white;
    }
}
a {
    text-decoration:none;
    color:black;
}
