.navbar {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    a {
        text-decoration:none;
        color:black;
    }
}
.navbar__logo {
    width:20%;
    padding-left:20px;
}
.navbar__menu {

}
.navbar__login {
    width:20%;
}
.mobileNavbar {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    padding-top:10px;
}
.mobileNavbar__logo {
    padding-left:20px;
}
.mobileNavbar__menu {
    padding-right:20px;
}
.darkmode {
  .navbar__icon {
    color:yellow;
  } 
}

