$navcolor: #3b92cc;
$darknavbar: #232323;
.navbar {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    a {
        text-decoration:none;
        color:black;
    }
    background:$navcolor;
    margin-bottom:2em;
}
.navbar__logo {
    width:20%;
    padding-left:20px;
}
.navbar__menu {

}
.navbar__login {
    width:20%;
    text-align:right;
}
.navbar__icon {
    cursor: pointer;
}
.navbar__user {}
.mobileNavbar {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin-bottom:2em;
    background:$navcolor;
}
.mobileNavbar__logo {
    padding-left:20px;
}
.mobileNavbar__menu {
    padding-right:20px;
}
.darkmode {
    .navbar__icon {
        color:yellow;
    }
    .navbar {
      background:$darknavbar;
    }
    .mobileNavbar {
        background:$darknavbar;
    }
}

