.darkmode {
    background:#111;
    color:white;
    & input {
        background:#eee;
        color:black;
        border-radius:4px;
        border:1px solid #aaa;
        padding:.25em;
    }
    & a, i {
        color:white;
    }
    & h1,h2,h3,h4,h5 {
        color:white;
    }
    & p {
        color: white;
    }
    & label {
        color:white;
    }
}
a {
    text-decoration:none;
    color:black;
}
