.darkmode {
    background:#111;
    & input {
        background:#eee;
        color:black;
        border-radius:4px;
        border:1px solid #aaa;
        padding:.25em;
    }
    & a, i {
        color:white;
    }
    & h1 {
        color:white;
    }
    & p {
        color: white;
    }
    & label {
        color:white;
    }
}
