.home{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home__header {
    text-align:center;
    background:#4d974d8c;
    padding:3em;
    margin:1em;
    width:100%;
}
.home__header--register {
    width:45%;
    background:#98a52667;
}
.home__header--login {
    width:45%;
    background:#2676a567
}
.home__button {
    border-radius:4px;
    background:#3b92cc;
    border:1px solid transparent;
    padding:20px;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:10px;
}
.darkmode {
    .home__header {
        background:#333;
    }
    .home__button{
        background:#222;
        color:white;
    }
}

