.but1 {
    background-color:#ffe5ac;
    &:hover{
        background-color:#eed49b;
    }
}
.but2 {
    background-Color:#caacff;
    &:hover{
        background-color:#b99bee;
    }
}
.but3 {
    background-color:#fface1;
    &:hover{
        background-color:#ee9bd0;
    }
}
.but4 {
    background-color:#e1ffac;
    &:hover{
        background-color:#d0ee9b;
    }
}