.quiz__answers{
    margin-bottom:10px;
}
.quiz__buttons {
	width:100%;
	padding:30px;
	border:1px solid transparent;
	border-radius:4px;
}
.quiz__top {
	margin-top:30px;
}
.quiz__question {
    margin-bottom:30px;
}
.quiz__id {
    text-align:right;
}
.quiz__buttons--but1 {
    background-color:#ffe5ac;
    &:hover{
        background-color:#eed49b;
    }
}
.quiz__buttons--but2 {
    background-Color:#caacff;
    &:hover{
        background-color:#b99bee;
    }
}
.quiz__buttons--but3 {
    background-color:#fface1;
    &:hover{
        background-color:#ee9bd0;
    }
}
.quiz__buttons--but4 {
    background-color:#e1ffac;
    &:hover{
        background-color:#d0ee9b;
    }
}
.darkmode {
    & .quiz__buttons--but1 {
        background:#8b6c28;
        &:hover {
            background:#9c7d39;  
        }
    }
    & .quiz__buttons--but2 {
        background-color:#492586;
        &:hover {
            background:#5a3697;  
        }
    }
    & .quiz__buttons--but3 {
        background: #7e225c;
        &:hover {
            background: #8f336d;
        }
    }
    & .quiz__buttons--but4 {
        background-color:#56771c;
        &:hover {
            background:#67882d;
        }
    }
}
