
.summary__button--red {
    width:50%;
    padding:1.5em;
    border:1px solid transparent;
    border-radius:4px;
    margin-top:.3em;
    background: rgb(138, 132, 132);
}
.summary__button--green {
    background: rgb(16, 202, 16);
    width:50%;
    padding:1.5em;
    border:1px solid transparent;
    border-radius:4px;
    margin-top:.3em;
}
.summary {
    text-align: center;
}